.bistrot-page {
    .content-zone {
      position: absolute;
      display: flex;
      flex-direction: column;
    //   left: 10%; // ===== responsive ===== 如果页面很窄，必然会与左边的sidebar重合，因为sidebar定的是60px固定值
      top: 50%; // box模型的上顶线与页面正中线重合
      transform: translateY(
        -50%
      ); // 在上面的top里定义50%之后，这里似乎会将box模型的正中线重合到页面正中线位置，即dead center正正中心
      width: 95%;
      left: 5%;
      height: 90%;
    }
    h2 {
        color: #edcbb8;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px; // 字母间距
        animation: fadeIn 1s 1s backwards;
    }
}